@import "tailwindcss";

:root {
  --background: #f8f8ff;
  --foreground: #0f0f0f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-yeseva), serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0f0f0f;
    --foreground: #f8f8ff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #f8f8ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-yeseva), serif;
}
